.signin{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
.signin .imgBx{
    position: relative;
    width: 50%;
    height: 100%;
}
.signin .imgBx::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #e91e63, #03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}
.signin .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.signin .contentBx{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.signin .contentBx .formBx{
    width: 50%;
}
.signin .contentBx .formBx h2{
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}
.signin .contentBx .formBx .inputBx{
    margin-bottom: 20px;
}
.signin .contentBx .formBx .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
.signin .contentBx .formBx .inputBx input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}
.signin .contentBx .formBx .inputBx input[type="submit"]{
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.signin .contentBx .formBx .inputBx input[type="submit"]:hover{
    background: #f53677;
}
.signin .contentBx .formBx .remember{
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}
.signin .contentBx .formBx .inputBx p{
    color: #607d8b;
}
.signin .contentBx .formBx .inputBx .signupnav{
    text-decoration: none;
    color: #ff4584;
}
.signin .contentBx .formBx .inputBx .signupnav:hover{
    text-decoration: none;
    color: #03a9f4;
}
.signin .contentBx .formBx h3{
    color: #607d8b;
    text-align: center;
    margin: 20px 0 10px;
    font-weight: 500;
}
.signin .contentBx .formBx .sci{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin .contentBx .formBx .sci li{
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #607d8b;
    border-radius: 50%;
    margin: 0 7px;
    transition: .2s;
    cursor: pointer;
}
.signin .contentBx .formBx .sci li:hover{
    background: #ff4584;
}

.signin .contentBx .formBx .sci li svg{
    color: #fff;
}

@media(max-width: 991px){
    .signin .contentBx .formBx{
        width:70%;
    }
}
@media(max-width: 768px){
    .signin .imgBx{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .signin .contentBx{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
    }
    .signin .contentBx .formBx{
        width: 100%;
        padding: 40px;
        background: rgba(255, 255, 255, 0.9);
        margin: 50px;
    }
    .signin .contentBx .formBx h3{
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
    }
}



/* Contact  */
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(https://images.unsplash.com/photo-1581291518857-4e27b48ff24e?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: center center;
    
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #4ca1af 80%, transparent 100%);
    mix-blend-mode: overlay;
}
.contact .content{
    max-width: 1000px;
    text-align: center;
}
.contact .content h2{
    font-size: 45px;
    font-weight: 500;
    color: #fff;
    line-height: 2em;
}
.contact .content p{
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}
.contact .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contact .container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact .container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contact .container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.contact .container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 400;
    text-shadow: 1px 1px 5px rgba(0,0,0, 0.5);
}
.contact .container .contactInfo .box .text h3{
    color: #FFFFFF;
    text-shadow: 1px 1px 5px rgba(0,0,0, 0.5);
}
.contactForm{
    width: 40%;
    padding: 40Px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #00bcd4;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .contact .container{
        flex-direction: column;
    }
    .contact .container .contactInfo,.contactForm{
        margin-bottom: 40px;
        width: 100%;
    }
}